.jumbotron_with_background{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background-image: url("../media/dhs.jpg");
    background-position: center;
    background-size: cover;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
}

.text-center{
    text-align:center;
}

.testborder{
    border-style: solid;
}